h1 {
    color:coral

.lead {
    color: #1F4045;
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-primary {
    color: #fff;
    background-color: coral;
    border-color: coral;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1F4045;
    border-color: #1F4045;
}

.btn-outline-primary {
    color: #1F4045;
    background-color: #fff;
    border-color: #1F4045;
}

.btn-outline-primary:hover {
    Color: coral;
    background-color: #fff;
    border-color: coral;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: coral;
    text-decoration: none;
    background-color: transparent;
}

.border-top {
    border-top: 1px solid #dee2e6!important;
    padding-top: 70px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
    padding-top: 70px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
    padding-top: 10px;
}